:root{
    --purple: #5858a7;
    --pink: #ce6e9f;
}
*{
    padding:0;
    margin:0
}
.navbar-brand{
    color: white;
    font-size: 2rem;
}
.navbar-brand:hover{
    color: var(--purple);
}

.nav-link{
    color: white;
}
.nav-link:hover{
    color: var(--purple);
}

#home a{
    color: white;
}

#profile-pic{
    border-radius: 100%;
    
}

#scroll{
    position: absolute;
    bottom: 5%;
    right: 45%;
    animation: scroll-anim 1s linear infinite alternate;
    
}

@keyframes scroll-anim{
    /* 0%{}
    50%{color: var(--pink); bottom: 2.5%}
    100%{bottom: 0;} */
    from{}
    to{ bottom: 2.5%;}
}

.wrapper{
  display: flex;
  justify-content: center;
  text-align: left;
 
}
.wrapper .static-txt{
  color: black;
  font-size: 60px;
  font-weight: 500;
}
.wrapper .dynamic-txts{
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  margin-left:1rem;
  padding: 0;
}
.dynamic-txts li{
  list-style: none;
  color: var(--pink);
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  /* margin: 5px 0; */
  line-height: 90px;
  margin: 0;
  padding: 0;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
  width: 100%;
  background: #fff;
  border-left: 2px solid var(--purple);
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

#box{
    height: 300px;
    width: auto;
    background-color: gray;
}

#react:hover{
    animation: spin 3s linear infinite;
    color: #61DAFB;
}
#npm:hover{
    /* color: #cc3838; */
    animation: filled 3s linear infinite alternate;
}
#git:hover{
  animation: bounce 1s ease forwards;
}

#js:hover{
  animation: speed 5s linear infinite;
}

@keyframes spin {
    from{}
    to{transform: rotate(180deg);}
}

@keyframes filled {
    from{
        
    }
    to{
        color: #cc3838;
    }
}
@keyframes bounce {
  0%{

  }50%{
    transform: scale(.5);
  }
  60%{
    transform: scale(1.25);
  }
  80%{
    transform: scale(.8);
  }
  95%{
    transform: scale(1.15);
  }
  100%{
    transform: scale(1);
    color: white;
  }
}

@keyframes speed {
  
}
